body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
}
h1{
    
    font-size: 75px;
    color: cornsilk;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

#image-track>.image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

.full-screen {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    z-index: 9999;
    transform: translate(-50%, -50%); 
    transition: transform 0.5s ease, width 0.5s ease, height 0.5s ease
}